<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramentro">
            <h2><span jhiTranslate="gatewayApp.monitoreoParamentro.detail.title">Paramentro</span> {{paramentro.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.nombre">Nombre</span></dt>
                <dd>
                    <span>{{paramentro.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.siglas">Siglas</span></dt>
                <dd>
                    <span>{{paramentro.siglas}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{paramentro.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.costo">Costo</span></dt>
                <dd>
                    <span>{{paramentro.costo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.metodologia">Metodologia</span></dt>
                <dd>
                    <span>{{paramentro.metodologia}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.metodoEnsayo">Metodo Ensayo</span></dt>
                <dd>
                    <span>{{paramentro.metodoEnsayo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.limiteCuantificacion">Limite Cuantificacion</span></dt>
                <dd>
                    <span>{{paramentro.limiteCuantificacion}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.tipoComponente">Tipo Componente</span></dt>
                <dd>
                    <div *ngIf="paramentro.tipoComponente">
                        <a [routerLink]="['/tipo-componente', paramentro.tipoComponente?.id, 'view']">{{paramentro.tipoComponente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.normaCalidad">Norma Calidad</span></dt>
                <dd>
                    <div *ngIf="paramentro.normaCalidad">
                        <a [routerLink]="['/norma-calidad', paramentro.normaCalidad?.id, 'view']">{{paramentro.normaCalidad?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.puntoMonitoreo">Punto Monitoreo</span></dt>
                <dd>
                    <div *ngIf="paramentro.puntoMonitoreo">
                        <a [routerLink]="['/punto-monitoreo', paramentro.puntoMonitoreo?.id, 'view']">{{paramentro.puntoMonitoreo?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoParamentro.unidades">Unidades</span></dt>
                <dd>
                    <div *ngIf="paramentro.unidades">
                        <a [routerLink]="['/unidades', paramentro.unidades?.id, 'view']">{{paramentro.unidades?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/paramentro', paramentro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
