<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.home.title">Laboratorio Monitoreos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-laboratorio-monitoreo" [routerLink]="['/laboratorio-monitoreo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.home.createLabel">
            Create new Laboratorio Monitoreo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="laboratorioMonitoreos?.length === 0">
        <span jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.home.notFound">No laboratorioMonitoreos found</span>
    </div>
    <div class="table-responsive" *ngIf="laboratorioMonitoreos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.codigoLaboratorio">Codigo Laboratorio</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.fechaReseva">Fecha Reseva</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoLaboratorioMonitoreo.proyecto">Proyecto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let laboratorioMonitoreo of laboratorioMonitoreos ;trackBy: trackId">
                <td><a [routerLink]="['/laboratorio-monitoreo', laboratorioMonitoreo.id, 'view' ]">{{laboratorioMonitoreo.id}}</a></td>
                <td>{{laboratorioMonitoreo.codigoLaboratorio}}</td>
                <td>{{laboratorioMonitoreo.fechaReseva | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="laboratorioMonitoreo.proyecto">
                        <a [routerLink]="['../proyecto', laboratorioMonitoreo.proyecto?.id, 'view' ]" >{{laboratorioMonitoreo.proyecto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/laboratorio-monitoreo', laboratorioMonitoreo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/laboratorio-monitoreo', laboratorioMonitoreo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'laboratorio-monitoreo', { outlets: { popup: laboratorioMonitoreo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
