<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="servicio">
            <h2><span jhiTranslate="gatewayApp.comercialServicio.detail.title">Servicio</span> {{servicio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.comercialServicio.codigo">Codigo</span></dt>
                <dd>
                    <span>{{servicio.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.fechaEntrega">Fecha Entrega</span></dt>
                <dd>
                    <span>{{servicio.fechaEntrega}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.nombreSolicitante">Nombre Solicitante</span></dt>
                <dd>
                    <span>{{servicio.nombreSolicitante}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.numeroSolicitante">Numero Solicitante</span></dt>
                <dd>
                    <span>{{servicio.numeroSolicitante}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.observacion">Observacion</span></dt>
                <dd>
                    <span>{{servicio.observacion}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{servicio.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.EstadoServicio.' + servicio.estado}}">{{servicio.estado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.codigoCliente">Codigo Cliente</span></dt>
                <dd>
                    <span>{{servicio.codigoCliente}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.codigoSede">Codigo Sede</span></dt>
                <dd>
                    <span>{{servicio.codigoSede}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.tipoServicios">Tipo Servicios</span></dt>
                <dd>
                    <div *ngIf="servicio.tipoServicios">
                        <a [routerLink]="['/tipo-servicios', servicio.tipoServicios?.id, 'view']">{{servicio.tipoServicios?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.tipoSolicitud">Tipo Solicitud</span></dt>
                <dd>
                    <div *ngIf="servicio.tipoSolicitud">
                        <a [routerLink]="['/tipo-solicitud', servicio.tipoSolicitud?.id, 'view']">{{servicio.tipoSolicitud?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.tipoInduccion">Tipo Induccion</span></dt>
                <dd>
                    <div *ngIf="servicio.tipoInduccion">
                        <a [routerLink]="['/tipo-induccion', servicio.tipoInduccion?.id, 'view']">{{servicio.tipoInduccion?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.requisitosSeguridad">Requisitos Seguridad</span></dt>
                <dd>
                    <div *ngIf="servicio.requisitosSeguridad">
                        <a [routerLink]="['/requisitos-seguridad', servicio.requisitosSeguridad?.id, 'view']">{{servicio.requisitosSeguridad?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.comercialServicio.sede">Sede</span></dt>
                <dd>
                    <div *ngIf="servicio.sede">
                        <a [routerLink]="['/sede', servicio.sede?.id, 'view']">{{servicio.sede?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/servicio', servicio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
