<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.logisticaMonitorista.home.title">Monitoristas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monitorista" [routerLink]="['/monitorista/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.logisticaMonitorista.home.createLabel">
            Create new Monitorista
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="monitoristas?.length === 0">
        <span jhiTranslate="gatewayApp.logisticaMonitorista.home.notFound">No monitoristas found</span>
    </div>
    <div class="table-responsive" *ngIf="monitoristas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="gatewayApp.logisticaMonitorista.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellidoPaterno"><span jhiTranslate="gatewayApp.logisticaMonitorista.apellidoPaterno">Apellido Paterno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellidoMaterno"><span jhiTranslate="gatewayApp.logisticaMonitorista.apellidoMaterno">Apellido Materno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dni"><span jhiTranslate="gatewayApp.logisticaMonitorista.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaNacimiento"><span jhiTranslate="gatewayApp.logisticaMonitorista.fechaNacimiento">Fecha Nacimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="laboratorio.id"><span jhiTranslate="gatewayApp.logisticaMonitorista.laboratorio">Laboratorio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monitorista of monitoristas ;trackBy: trackId">
                <td><a [routerLink]="['/monitorista', monitorista.id, 'view' ]">{{monitorista.id}}</a></td>
                <td>{{monitorista.nombre}}</td>
                <td>{{monitorista.apellidoPaterno}}</td>
                <td>{{monitorista.apellidoMaterno}}</td>
                <td>{{monitorista.dni}}</td>
                <td>{{monitorista.fechaNacimiento | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="monitorista.laboratorio">
                        <a [routerLink]="['../laboratorio', monitorista.laboratorio?.id, 'view' ]" >{{monitorista.laboratorio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/monitorista', monitorista.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monitorista', monitorista.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'monitorista', { outlets: { popup: monitorista.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="monitoristas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
