<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.home.title">Punto Monitoreo Obs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-punto-monitoreo-obs" [routerLink]="['/punto-monitoreo-obs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.home.createLabel">
            Create new Punto Monitoreo Obs
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="puntoMonitoreoObs?.length === 0">
        <span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.home.notFound">No puntoMonitoreoObs found</span>
    </div>
    <div class="table-responsive" *ngIf="puntoMonitoreoObs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comentario"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.comentario">Comentario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacion"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.observacion">Observacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="puntoMonitoreo.id"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.puntoMonitoreo">Punto Monitoreo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultado.id"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.resultado">Resultado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proyecto.id"><span jhiTranslate="gatewayApp.monitoreoPuntoMonitoreoObs.proyecto">Proyecto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let puntoMonitoreoObs of puntoMonitoreoObs ;trackBy: trackId">
                <td><a [routerLink]="['/punto-monitoreo-obs', puntoMonitoreoObs.id, 'view' ]">{{puntoMonitoreoObs.id}}</a></td>
                <td>{{puntoMonitoreoObs.codigo}}</td>
                <td>{{puntoMonitoreoObs.descripcion}}</td>
                <td>{{puntoMonitoreoObs.comentario}}</td>
                <td>{{puntoMonitoreoObs.observacion}}</td>
                <td>
                    <div *ngIf="puntoMonitoreoObs.puntoMonitoreo">
                        <a [routerLink]="['../punto-monitoreo', puntoMonitoreoObs.puntoMonitoreo?.id, 'view' ]" >{{puntoMonitoreoObs.puntoMonitoreo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="puntoMonitoreoObs.resultado">
                        <a [routerLink]="['../resultado', puntoMonitoreoObs.resultado?.id, 'view' ]" >{{puntoMonitoreoObs.resultado?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="puntoMonitoreoObs.proyecto">
                        <a [routerLink]="['../proyecto', puntoMonitoreoObs.proyecto?.id, 'view' ]" >{{puntoMonitoreoObs.proyecto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/punto-monitoreo-obs', puntoMonitoreoObs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/punto-monitoreo-obs', puntoMonitoreoObs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'punto-monitoreo-obs', { outlets: { popup: puntoMonitoreoObs.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="puntoMonitoreoObs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
