<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unidades">
            <h2><span jhiTranslate="gatewayApp.monitoreoUnidades.detail.title">Unidades</span> {{unidades.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.monitoreoUnidades.nombre">Nombre</span></dt>
                <dd>
                    <span>{{unidades.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoUnidades.codigo">Codigo</span></dt>
                <dd>
                    <span>{{unidades.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.monitoreoUnidades.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{unidades.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unidades', unidades.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
