<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="gatewayApp.comercialCliente.home.createOrEditLabel">Create or edit a Cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.razonSocial" for="field_razonSocial">Razon Social</label>
                    <input type="text" class="form-control" name="razonSocial" id="field_razonSocial"
                           formControlName="razonSocial"/>
                    <div *ngIf="editForm.get('razonSocial').invalid && (editForm.get('razonSocial').dirty || editForm.get('razonSocial').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('razonSocial').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                    <div *ngIf="editForm.get('direccion').invalid && (editForm.get('direccion').dirty || editForm.get('direccion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.ruc" for="field_ruc">Ruc</label>
                    <input type="text" class="form-control" name="ruc" id="field_ruc"
                           formControlName="ruc"/>
                    <div *ngIf="editForm.get('ruc').invalid && (editForm.get('ruc').dirty || editForm.get('ruc').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ruc').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.nombreContacto" for="field_nombreContacto">Nombre Contacto</label>
                    <input type="text" class="form-control" name="nombreContacto" id="field_nombreContacto"
                           formControlName="nombreContacto"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.actividad" for="field_actividad">Actividad</label>
                    <textarea class="form-control" name="actividad" id="field_actividad"
                              formControlName="actividad"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.comentario" for="field_comentario">Comentario</label>
                    <textarea class="form-control" name="comentario" id="field_comentario"
                              formControlName="comentario"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
                    <div class="input-group">
                        <input id="field_fechaCreacion" type="text" class="form-control" name="fechaCreacion" ngbDatepicker  #fechaCreacionDp="ngbDatepicker" formControlName="fechaCreacion"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaCreacionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.comercialCliente.codigoZona" for="field_codigoZona">Codigo Zona</label>
                    <input type="text" class="form-control" name="codigoZona" id="field_codigoZona"
                           formControlName="codigoZona"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
