<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.logisticaEquipo.home.title">Equipos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipo" [routerLink]="['/equipo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.logisticaEquipo.home.createLabel">
            Create new Equipo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="equipos?.length === 0">
        <span jhiTranslate="gatewayApp.logisticaEquipo.home.notFound">No equipos found</span>
    </div>
    <div class="table-responsive" *ngIf="equipos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigoEquipo"><span jhiTranslate="gatewayApp.logisticaEquipo.codigoEquipo">Codigo Equipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serie"><span jhiTranslate="gatewayApp.logisticaEquipo.serie">Serie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calibradoDesde"><span jhiTranslate="gatewayApp.logisticaEquipo.calibradoDesde">Calibrado Desde</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calibradoHasta"><span jhiTranslate="gatewayApp.logisticaEquipo.calibradoHasta">Calibrado Hasta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rutaDocCalibracion"><span jhiTranslate="gatewayApp.logisticaEquipo.rutaDocCalibracion">Ruta Doc Calibracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreDocCalibracion"><span jhiTranslate="gatewayApp.logisticaEquipo.nombreDocCalibracion">Nombre Doc Calibracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentoCalibracion"><span jhiTranslate="gatewayApp.logisticaEquipo.documentoCalibracion">Documento Calibracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="gatewayApp.logisticaEquipo.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCompra"><span jhiTranslate="gatewayApp.logisticaEquipo.fechaCompra">Fecha Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observacion"><span jhiTranslate="gatewayApp.logisticaEquipo.observacion">Observacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comentario"><span jhiTranslate="gatewayApp.logisticaEquipo.comentario">Comentario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="test"><span jhiTranslate="gatewayApp.logisticaEquipo.test">Test</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelo.id"><span jhiTranslate="gatewayApp.logisticaEquipo.modelo">Modelo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipo of equipos ;trackBy: trackId">
                <td><a [routerLink]="['/equipo', equipo.id, 'view' ]">{{equipo.id}}</a></td>
                <td>{{equipo.codigoEquipo}}</td>
                <td>{{equipo.serie}}</td>
                <td>{{equipo.calibradoDesde | date:'mediumDate'}}</td>
                <td>{{equipo.calibradoHasta | date:'mediumDate'}}</td>
                <td>{{equipo.rutaDocCalibracion}}</td>
                <td>{{equipo.nombreDocCalibracion}}</td>
                <td>
                    <a *ngIf="equipo.documentoCalibracion" (click)="openFile(equipo.documentoCalibracionContentType, equipo.documentoCalibracion)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="equipo.documentoCalibracion">{{equipo.documentoCalibracionContentType}}, {{byteSize(equipo.documentoCalibracion)}}</span>
                </td>
                <td jhiTranslate="{{'gatewayApp.EstadoEquipo.' + equipo.estado}}">{{equipo.estado}}</td>
                <td>{{equipo.fechaCompra | date:'mediumDate'}}</td>
                <td>{{equipo.observacion}}</td>
                <td>{{equipo.comentario}}</td>
                <td>
                    <a *ngIf="equipo.test" (click)="openFile(equipo.testContentType, equipo.test)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="equipo.test">{{equipo.testContentType}}, {{byteSize(equipo.test)}}</span>
                </td>
                <td>
                    <div *ngIf="equipo.modelo">
                        <a [routerLink]="['../modelo', equipo.modelo?.id, 'view' ]" >{{equipo.modelo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/equipo', equipo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipo', equipo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'equipo', { outlets: { popup: equipo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="equipos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
