<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.rrhhPosicion.home.title">Posicions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-posicion" [routerLink]="['/posicion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.rrhhPosicion.home.createLabel">
            Create new Posicion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="posicions?.length === 0">
        <span jhiTranslate="gatewayApp.rrhhPosicion.home.notFound">No posicions found</span>
    </div>
    <div class="table-responsive" *ngIf="posicions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.rrhhPosicion.nombre">Nombre</span></th>
            <th><span jhiTranslate="gatewayApp.rrhhPosicion.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="gatewayApp.rrhhPosicion.funciones">Funciones</span></th>
            <th><span jhiTranslate="gatewayApp.rrhhPosicion.area">Area</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let posicion of posicions ;trackBy: trackId">
                <td><a [routerLink]="['/posicion', posicion.id, 'view' ]">{{posicion.id}}</a></td>
                <td>{{posicion.nombre}}</td>
                <td>{{posicion.descripcion}}</td>
                <td>{{posicion.funciones}}</td>
                <td>
                    <div *ngIf="posicion.area">
                        <a [routerLink]="['../area', posicion.area?.id, 'view' ]" >{{posicion.area?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/posicion', posicion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/posicion', posicion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'posicion', { outlets: { popup: posicion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
