<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.monitoreoObservacion.home.title">Observacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-observacion" [routerLink]="['/observacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.monitoreoObservacion.home.createLabel">
            Create new Observacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="observacions?.length === 0">
        <span jhiTranslate="gatewayApp.monitoreoObservacion.home.notFound">No observacions found</span>
    </div>
    <div class="table-responsive" *ngIf="observacions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoObservacion.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoObservacion.comentario">Comentario</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoObservacion.codigoMonitorista">Codigo Monitorista</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoObservacion.proyecto">Proyecto</span></th>
            <th><span jhiTranslate="gatewayApp.monitoreoObservacion.componente">Componente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let observacion of observacions ;trackBy: trackId">
                <td><a [routerLink]="['/observacion', observacion.id, 'view' ]">{{observacion.id}}</a></td>
                <td>{{observacion.descripcion}}</td>
                <td>{{observacion.comentario}}</td>
                <td>{{observacion.codigoMonitorista}}</td>
                <td>
                    <div *ngIf="observacion.proyecto">
                        <a [routerLink]="['../proyecto', observacion.proyecto?.id, 'view' ]" >{{observacion.proyecto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="observacion.componente">
                        <a [routerLink]="['../componente', observacion.componente?.id, 'view' ]" >{{observacion.componente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/observacion', observacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/observacion', observacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'observacion', { outlets: { popup: observacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
